$green: #23d18c;
$beige: #8f8d88;
$purple: #a29bfe;
$cyan: #00cecb;
$blue: #5677fc;
$red: #e84855;
$yellow: #ffe066;
$grey: #424b54;
$orange: #f0aa85;
$pink: #ff5d8f;
$quince: #f49e4c;
$spiced: #eab464;
$squash: #f38375;
$blush: #e9dbdb;
$white: #ffffff;
$black: #000000;
